dsfsd {
    display: subgrid;
    color: #f0f8ff;
}

.wrapper {
    background-color: #f0f8ff;
    display: flex;
}

.form_input {
    background-color: #f0f8ff;
    text-transform: uppercase;
}

#hello {
    transform: rotate(180deg);
}

.wrapper {
    position: relative;
}